@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
    font-style: normal;
    font-weight: 100 900;
}

:root {

    /* Colors */
    --color-grey-900: #141414;
    --color-grey-800: #1F1F1F;
    --color-grey-700: #333333;
    --color-green: #C4F82A;
    --color-white: #FFFFFF;

    /* Spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

    /* Font Family */
    --font-inter: "Inter", sans-serif;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-grey-900);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


.text-preset-1 {
    font-size: 24px;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 14px;
    font-weight: 400;
}

.text-preset-3 {
    font-size: 14px;
    font-weight: 700;
}


.profile-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-300);
    padding: var(--spacing-500) var(--spacing-500);
    background-color: var(--color-grey-800);
    width: 384px;
    border-radius: 12px;
}

.profile-card-image-wrapper {
    width: 88px;
    height: 88px;
    border-radius: 999px;
    margin: 0 auto;
}

.profile-card-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    border-radius: inherit;
}

.profile-card-name-location {
    text-align: center;
}

.profile-card-name {
    display: block;
    color: var(--color-white);
    margin-bottom: 4px;
}

.profile-card-location {
    color: var(--color-green);
}

.profile-card-description {
    color: var(--color-white);
    text-align: center;
}

.social-links-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    align-items: stretch;
    justify-content: start;
}

.social-link {
    color: var(--color-white);
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--spacing-150);
    border-radius: 8px;
    background-color: var(--color-grey-700);
    transition: color, background-color linear 150ms;
}

.social-link:hover {
    color: var(--color-grey-700);
    background-color: var(--color-green);
}



@media screen and (max-width: 375px) {
    .profile-card {
        width: min(100%, 384px);
        padding: var(--spacing-300);
    }
}